{% extends 'base.html'%}
{%block content%}
<style>
    .single-card:hover {
        transform: scale(0.9);
        background-color: rgb(176, 176, 204);
    }
</style>
<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            {%for image in images%}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-card">
                    <div class="card-header text-center">{{image.image_name}}</div>
                    <div class="view overlay">
                        <a href="{% url 'eachimage' image.id %}">
                            <img style="width:100%;height:30vh" src="{{image.image.url}}" alt="">
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="d-flex justify-content-start mt-3">
                            <div><a style="text-decoration:none" href="{% url 'like' image.id %}"> <i
                                        class="fa fa-heart"></i>{{image.likes_number}} likes</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                            <div><a style="text-decoration:none" href="{% url 'comment' image.id  %}"> <i
                                        class="fa fa-comment"></i>{{image.comments_number}} Comments</a></div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {%endblock%}